/* flex makes item come in a single line*/
* {
    margin: 0;
    padding: 0;

}

body {
    /* background-color: rgb(24, 20, 90); */
    background: linear-gradient(265deg, #07081d, #4d41a3);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

/* making nav items in single line*/
nav {
    display: flex;
    justify-content: space-around;
    /* space between items in nav */
    align-items: center;
    align-content: center;
    height: 90px;
    background: linear-gradient(203deg, #07081d, #4d41a3);
    overflow: hidden;
}

/* font size for name*/
.left {
    font-size: 2rem;
}

nav .left h1 .red {
    font-size: 3rem;
}

nav .left a {
    display: flex;
}

/*makeing ul in singke line*/
nav ul {
    display: flex;
    justify-content: center;
}

.des {
    /* position: relative; */
    font-size: 8px;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    visibility: hidden;
    width: 50px;
    background-color: rgb(97, 93, 93);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}


nav ul li {
    /* to access li using nav ui*/
    list-style: none;
    display: grid;
    /* bullets will gone*/
    margin: 0px 35px;
}

nav ul li:hover {
    scale: 1.2;

    .des {
        visibility: visible;
    }
}


.left a,
nav ul li a,
.leftsection2 ul li a,
.section5 ul li a {
    color: white;
    text-decoration: none;
    overflow: hidden;
}

nav ul li a:hover,
.leftsection2 ul li a:hover,
.left a:hover,
.section5 ul li a:hover {
    /* bullets will gone*/
    color: rgb(247, 255, 10);
    text-decoration: none;
    /* font-weight: bold;    */
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
    align-items: center;


}


/************************************************************/
.secondsection {
    justify-content: space-around;
    margin: 23px 0px;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.educationtitle {
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.education {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.seceducation {
    display: flex;
    justify-content: space-around;
}

.seceducation .rigthsection3 {
    margin: 50px;
}

/***************************************************/
.seceducation .leftsection3 {
    margin: 0px 0px 0px -63px;
    display: inline-flex;
    flex-wrap: wrap;
}

.secondsection .education1 {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.leftsection2 ul li,
.leftsection3 ul li {
    font-size: 1.2rem;
}

.rigthsection img {

    width: 350px;
    height: 300px;
    margin: 70px;
}

.edu2,
.edu1,
.edu3 {
    margin: 10px;
}

.educationimg1 {
    width: 50vf;
    height: 31vh;
    margin: 0px;
}

.educationimg {
    width: 50vf;
    height: 31vh;
    margin: 0px;
    position: absolute;
    margin: 141px -63px;
}

.section5 .educationimg {
    width: 50vf;
    height: 31vh;
    margin: 0px;
    position: absolute;
    margin: 94px -63px;
}

.secondrighsection .educationimg {
    margin: 20px -12px;
    width: 50vf;
    height: 25vh;
    position: absolute;
}

.section5 .leftsectioncertification {
    margin: 0px 0px 0px -63px;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

/*****************************************************/


.rigthsection3 {
    position: static left;
}

hr {
    margin: 19px 41px 24px 36px;
    height: 1.2px;
    background-color: #b9a9a9;
    border: 0;
}

.red {
    color: red;
    /* color: blue;*/
}

.leftsection {
    font-size: 2.8rem;
}

.heads {
    display: flex;
}

.heads>div {
    margin: 0px 60px;
}

.findme-1 {
    display: flex;
    margin: 9px;
}



.righ {
    margin: 0px -92px 0px 107px;
}






/*****section-3**********/
.section3skills {
    display: flex;
}

.section3skills>div {
    width: 40%;
    justify-content: space-around;
}

.section3skills .leftsectionskills {
    margin-left: 155px;
    font-size: 1.2rem;

}

.section3skills .rightsectionskills {
    margin-left: 600px;
    margin-top: 30px;

}

.skillsimage {
    width: 50%;
    height: 70%;
}


/***********section-4*************/
.section4 button {
    background-color: #CD1818;
    border-radius: 10px;
    border-right-color: black;
    border-style: hidden;
    width: 15%;
    height: 29px;
    margin-bottom: 8px;
    margin-left: 8px;
    color: white;
}

.section4 button:hover {
    background-color: #FF6969;
}

.section4 button:active {
    scale: 0.8;
    background-color: #CD1818;

}

.project-title {
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: bold;
}

.project-title:hover {
    color: yellow;
}

.project-description {
    font-size: 0.8rem;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: justify;
    color: rgb(130, 123, 123);
}

.project-description a {
    text-decoration: dotted;
    color: rgb(255, 252, 252);
}

.project-description a:hover {
    color: yellow;
}

.project-description a:active {
    color: red;

}

.listofprojects {
    padding-left: 120px;
    display: flex;
}


.listofprojects .col-1 {
    width: 50%;
}

.listofprojects .col-2 {
    width: 50%;
}


/******Cerifications******/
.spanele {
    font-size: 0.5rem;
    color: gray;

}

/*********************footer*******************/
.footer-disc {
    display: flex;
}

.foot-img {
    height: 25px;
    margin-right: 10px;
}

.footerr ul li {
    list-style: none;
}

.mailid {
    display: flex;
}


/****
****


****/
/***************************************************/
@media only screen and (max-width: 600px) {

    * {
        margin: 0;

    }

    body {
        background: linear-gradient(265deg, #07081d, #4d41a3);
        color: white;
        font-family: 'Poppins', sans-serif;
        width: fit-content;
        margin: 0;
        padding: 0;
        /*background-image: url("1660460518902.jpg");*/

    }

    /*********header***********/
    nav {
        height: fit-content;
        /* background-color: rgb(34 34 34); */
        background: linear-gradient(203deg, #07081d, #4d41a3);
        display: block;
        justify-content: center;
    }

    /* font size for name*/
    .left {
        font-size: 2rem;
    }

    nav .left h1 .red {
        font-size: 3rem;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    .righ {
        margin: 0px 0px 0px 0px;
    }

    nav ul li {
        /* to access li using nav ui*/
        list-style: none;
        /* bullets will gone*/
        margin: 0px 6px;
    }

    /*******section-2*******/
    .educationimg1 {
        display: none;
    }

    .leftsection2 ul li {
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
    }

    .education1 {
        width: fit-content;
    }

    /*******section-3****************/
    .section3skills {
        width: auto;
    }

    .rightsectionskills {
        display: none;
    }

    .leftsectionskills {
        justify-content: center;
    }

    .section3skills .leftsectionskills {
        margin-left: 40px;
        font-size: 0.8rem;

    }

    .section3skills .rightsectionskills {
        display: none;
    }


    /**************section-1***********/
    .header .left {
        display: flex;
        justify-content: center;
    }

    .firstsection {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .rigthsection {
        display: none;
    }

    .firstsection .leftsection {
        font-size: 1.2rem;
        width: auto;
    }

    .firstsection .rigthsection img {
        display: none;
    }

    /**************footer***********/
    .footer nav .right {
        justify-content: center;
    }

    .footer nav {
        width: 100%;
        justify-content: center;
        display: grid;
        height: fit-content;
    }

    footer nav .left {
        display: flex;
    }

    .footer nav ul {
        display: block;
    }

    .footer .foot-img {
        display: none;
    }

    .footer-disc {
        display: contents;
    }

    .mailid,
    .number {
        justify-content: center;
    }

    /******************/
    .educationimg {
        display: none;
    }

    .section5 .leftsectioncertification {
        margin: 0px 40px;
        font-size: 0.8rem;
    }

    .section5 {
        width: auto;
    }

    /*****************8section-4*******************/
    .listofprojects {
        padding-left: 0px;
        display: block;

    }

    .listofprojects .col-1 {
        width: auto;
    }

    .listofprojects .col-2 {
        width: auto;
    }

    .project-title {
        font-size: 0.8rem;
        margin-left: 20px;
        font-weight: bold;
    }

    .section4 button {
        background-color: greenyellow;
        border-radius: 10%;
        border-right-color: black;
        border-width: 3px;
        border-style: hidden;
        width: 11vw;
        height: 20px;
        margin-bottom: 8px;
    }

    .project-title:hover {
        color: yellow;
    }

    .project-description {
        font-size: 0.6rem;
        margin-left: 30px;
        margin-right: 40px;
        margin-bottom: 20px;
        text-align: justify;
        color: rgb(130, 123, 123);
    }

    .project-description a {
        text-decoration: dotted;
        color: rgb(255, 252, 252);
    }

    .project-description a:hover {
        color: yellow;
    }

    .educationtitle {
        font-size: large;
    }

    hr {
        margin: 17px 0px;
        height: 0.2px;
        background-color: #b9a9a9;
        border: 0;
    }

    .b1 {
        display: none;
    }
}