<section class="bg-gradient-to-r from-blue-50 via-white to-indigo-50 shadow-inner py-20 px-6 text-gray-800">

  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-10 mb-16 px-6">

    <div class="relative group">
      <img src="assets/Images/sahas.png" alt="Profile"
        class="rounded-3xl shadow-2xl w-72 mx-auto border-4 border-blue-200 group-hover:border-blue-500 transition duration-300 ease-in-out">
      <div
        class="absolute top-0 left-0 w-full h-full rounded-3xl bg-gradient-to-tr from-blue-100 to-transparent opacity-20 group-hover:opacity-40 transition-all duration-300 pointer-events-none">
      </div>
    </div>


    <div>
      <h2 class="text-4xl font-extrabold mb-4 text-blue-600 flex items-center gap-3">
        <i class="fas fa-id-card fa-solid  "></i> About Me
      </h2>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">
        <span class="text-blue-500">.NET Developer | Angular Enthusiast</span>
      </h3>
      <p class="text-lg text-gray-700 mb-3">
        I'm a passionate <span class="text-blue-500 font-semibold">.NET Full Stack Developer</span> with 1.5+ years of
        experience building secure, scalable, and interactive web apps using
        <span class="font-semibold text-gray-800">ASP.NET, Angular,</span> and <span
          class="font-semibold text-gray-800">Entity Framework / Dapper / ADO.NET.</span>
      </p>
      <p class="text-gray-600 mb-4">
        I specialize in crafting clean, maintainable architectures that solve real-world problems efficiently and
        beautifully.
      </p>


      <div class="flex flex-wrap gap-2 mb-4">
        <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm font-medium">C#</span>
        <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm font-medium">ASP.NET Core / Framework / Webforms</span>
        <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm font-medium">Angular</span>
        <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm font-medium">SQL Server</span>
        <span class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm font-medium">EF Core / Dapper / ADO.NET</span>
      </div>


      <div class="flex gap-4">
        <a href="/contact"
          class="bg-blue-600 text-white px-5 py-2 rounded-xl btn btn-md hover:bg-blue-700 transition-all duration-200">
          Contact Me
        </a>
        <!-- <a href="/assets/resume/SAHAS_H_S.pdf" target="_blank"
          class="border border-blue-600 text-blue-600 px-5 py-2 rounded-xl btn btn-md hover:bg-blue-50 transition-all duration-200">
          <i class="fas fa-download mr-2"></i> Download Resume
        </a> -->
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto mt-10 px-6">
    <h2 class="text-3xl font-extrabold text-blue-600 mb-10 flex items-center gap-3">
      <i class="fas fa-route"></i> My Journey
    </h2>

    <div class="flex flex-col md:flex-row gap-12 md:gap-20">

      <div class="relative md:w-1/2">
        <h3 class="text-2xl font-semibold text-blue-500 mb-6 flex items-center">
          <i class="fas fa-graduation-cap mr-2"></i> Education
        </h3>
        <div class="space-y-6 border-l-4 border-blue-200 pl-6 relative">
          <div class="absolute top-3 left-[-10px] w-4 h-4 bg-blue-500 rounded-full"></div>
          <div>
            <h4 class="text-lg font-bold">B.E – ECE</h4>
            <span class="text-sm text-gray-500">2019 – 2023</span>
            <p class="text-gray-600 mt-1 text-sm">PESITM – Shivamogga</p>
          </div>
          <div class="relative">
            <div class="absolute top-3 left-[-33px] w-4 h-4 bg-blue-500 rounded-full"></div>
            <h4 class="text-lg font-bold">PUC – PCMB</h4>
            <span class="text-sm text-gray-500">2017 – 2019</span>
            <p class="text-gray-600 mt-1 text-sm">PU College, Sagara</p>
          </div>
        </div>
      </div>


      <div class="relative md:w-1/2">
        <h3 class="text-2xl font-semibold text-blue-500 mb-6 flex items-center">
          <i class="fas fa-briefcase mr-2"></i> Experience
        </h3>
        <div class="space-y-6 border-l-4 border-blue-200 pl-6 relative">
          <div class="relative">
           <div class="absolute top-3 left-[-34px] w-4 h-4 bg-blue-500 rounded-full"></div>
            <h4 class="text-lg font-bold">Software Developer – RGBSI</h4>
            <span class="text-sm text-gray-500">Sep 2025 – present</span>
            <p class="text-gray-600 mt-1 text-sm">
              Developing a full-stack product using .NET Core, Angular, and SQL Server, following Clean Architecture and CQRS principles to build secure and scalable APIs.
            </p>
          </div>
          <div class="relative">
            <div class="absolute top-3 left-[-34px] w-4 h-4 bg-blue-500 rounded-full"></div>
            <h4 class="text-lg font-bold">Full Stack Developer – Mildian Solutions LLP</h4>
            <span class="text-sm text-gray-500">Jan 2024 – Jun 2025</span>
            <p class="text-gray-600 mt-1 text-sm">
              Built full-stack features using ASP.NET, Angular, Blazor, and SQL Server / Oracle with secure APIs and
              dashboards.
            </p>
          </div>
          <div class="relative">
            <div class="absolute top-3 left-[-34px] w-4 h-4 bg-blue-500 rounded-full"></div>
            <h4 class="text-lg font-bold">Full Stack Developer Intern – Tap Academy</h4>
            <span class="text-sm text-gray-500">Jun 2023 – Dec 2023</span>
            <p class="text-gray-600 mt-1 text-sm">
              Gained Knowledge on full stack development using Java, SpringBoot, Hibernate, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>